[submodule "lib/grpc-interfaces"]
	path = lib/grpc-interfaces
	url = https://github.com/zippiehq/grpc-interfaces.git
[submodule "machine-emulator"]
	path = machine-emulator
	url = https://github.com/zippiehq/machine-emulator
